#detail {
  padding: 64px 0;
  .detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      width: 300px;
      height: 450px;
      border-radius: 8px;
      object-fit: cover;
    }
    &__text {
      max-width: 466px;
      width: 100%;
      &__icon {
        display: flex;
        gap: 16px;
        h1 {
          color: var(--Text-color, #19272e);
          font-size: 18px;
          font-weight: 700;
          line-height: 21.6px;
          max-width: 300px;
          width: 100%;
        }
      }
      h3 {
        color: var(--Text-color, #19272e);
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        opacity: 0.7;
        margin-top: 8px;
      }
      h4 {
        color: var(--Text-color, #19272e);
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        max-width: 350px;
        width: 100%;
        margin: 32px 0;
      }
      h5 {
        color: var(--Main-color, #818eea);
        font-size: 24px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.3px;
      }
      &__btns {
        display: flex;
        margin-top: 32px;
        gap: 16px;
        &__addToCart {
          border-radius: 8px;
          background: var(--Main-color, #818eea);
          border: none;
          color: var(--Colors-White, #fff);
          text-align: center;
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
          letter-spacing: -0.4px;
          height: 50px;
          width: 80%;
        }
        &__count {
          display: flex;
          align-items: center;
          border-radius: 8px;
          border: 1px solid var(--Main-color, #818eea);
          padding: 0 10px;
          justify-content: space-between;
          max-width: 100px;
          width: 100%;
          button {
            background: none;
            border: none;
          }
          p {
            color: var(--Primary, #0d0d0d);
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 2px;
          }
          svg {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
  .loading {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    .pl {
      width: 6em;
      height: 6em;
      &__ring {
        animation: ringA 2s linear infinite;
        &--a {
          stroke: #818eea;
        }
        &--b {
          animation-name: ringB;
          stroke: #818deaaf;
        }
        &--c {
          animation-name: ringC;
          stroke: #818deaaf;
        }
        &--d {
          animation-name: ringD;
          stroke: #818eea;
        }
      }
    }

    @keyframes ringA {
      from,
      4% {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -330;
      }

      12% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -335;
      }

      32% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -595;
      }

      40%,
      54% {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -660;
      }

      62% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -665;
      }

      82% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -925;
      }

      90%,
      to {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -990;
      }
    }

    @keyframes ringB {
      from,
      12% {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -110;
      }

      20% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -115;
      }

      40% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -195;
      }

      48%,
      62% {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -220;
      }

      70% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -225;
      }

      90% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -305;
      }

      98%,
      to {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -330;
      }
    }

    @keyframes ringC {
      from {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: 0;
      }

      8% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -5;
      }

      28% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -175;
      }

      36%,
      58% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -220;
      }

      66% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -225;
      }

      86% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -395;
      }

      94%,
      to {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -440;
      }
    }

    @keyframes ringD {
      from,
      8% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: 0;
      }

      16% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -5;
      }

      36% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -175;
      }

      44%,
      50% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -220;
      }

      58% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -225;
      }

      78% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -395;
      }

      86%,
      to {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -440;
      }
    }
  }
}
